<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="display-3">Post form</h1>
    <form action="/api/v1/signup" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input type="text" name="password" id="password" />
      </div>
      <div class="mb-3">
        <label for="photo">Photo</label>
        <input type="file" name="photo" id="photo" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
